In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

#### STEP 1: Load & Inspect the Data

In [2]:
df = pd.read_csv("toyota.csv")
df

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,GT86,2016,16000,Manual,24089,Petrol,265,36.2,2.0
1,GT86,2017,15995,Manual,18615,Petrol,145,36.2,2.0
2,GT86,2015,13998,Manual,27469,Petrol,265,36.2,2.0
3,GT86,2017,18998,Manual,14736,Petrol,150,36.2,2.0
4,GT86,2017,17498,Manual,36284,Petrol,145,36.2,2.0
...,...,...,...,...,...,...,...,...,...
6733,IQ,2011,5500,Automatic,30000,Petrol,20,58.9,1.0
6734,Urban Cruiser,2011,4985,Manual,36154,Petrol,125,50.4,1.3
6735,Urban Cruiser,2012,4995,Manual,46000,Diesel,125,57.6,1.4
6736,Urban Cruiser,2011,3995,Manual,60700,Petrol,125,50.4,1.3
6737,Urban Cruiser,2011,4495,Manual,45128,Petrol,125,50.4,1.3

#### Step 2: Basic info check

- Purpose: See columns, data types, missing values

In [3]:
df.info()
df.describe()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6738 entries, 0 to 6737
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         6738 non-null   object
 1   year          6738 non-null   int64
 2   price         6738 non-null   int64
 3   transmission  6738 non-null   object
 4   mileage       6738 non-null   int64
 5   fuelType      6738 non-null   object
 6   tax           6738 non-null   int64
 7   mpg           6738 non-null   float64
 8   engineSize    6738 non-null   float64
dtypes: float64(2), int64(4), object(3)
memory usage: 473.9+ KB

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64

#### Step 3: Clean the data

- Things you usually fix:

    - Remove duplicates

    - Handle missing values

    - Convert data types (Year, Mileage, Price etc.)

    - Remove weird outliers (like 1 km mileage)

In [4]:
df.duplicated().sum() #checking for duplicated values

np.int64(39)

In [5]:
#drop duplicates
df.drop_duplicates(inplace = True)

In [6]:
df.duplicated().sum()

np.int64(0)

## A. Basic Analysis Questions

### 1. Write a program to find the average price of Toyota cars.

In [7]:
mean = round(df['price'].mean(),3) #average mean value of dataset
print("Average Mean price of vehciles : ",mean)

Average Mean price of vehciles :  12529.799

### 2. Write a program to find which year has the most cars listed.

In [8]:
df['year'].value_counts()

year
2017    2015
2019    1265
2018    1014
2016     990
2015     522
2014     351
2013     203
2020     127
2012      42
2011      40
2009      29
2007      20
2008      19
2010      18
2005      12
2006      11
2004       7
2003       6
2002       4
2001       1
1999       1
2000       1
1998       1
Name: count, dtype: int64

In [9]:
# df['year'] selects the "year" column from the dataframe
# value_counts() counts how many times each unique year appears
# idxmax() returns the label (year) that has the highest count
most_common_year = df['year'].value_counts().idxmax()

print(f"year {most_common_year} has the most cars listed")  # shows the year that appears the most

year 2017 has the most cars listed

### 3. Write a program to find the cheapest and most expensive car.

In [10]:
print(f"Cheapest Car : {df['price'].min()}")
print(f"Most Expensive Car : {df['price'].max()}")

Cheapest Car : 850
Most Expensive Car : 59995

### 4. Write a program to count how many cars have Automatic transmission.

In [11]:
df["transmission"].value_counts()

transmission
Manual       3793
Automatic    2651
Semi-Auto     254
Other           1
Name: count, dtype: int64

In [12]:
# Select only the rows where the transmission type is 'Automatic'
# .shape[0] returns how many rows are in that filtered dataframe
count_automatic = df[df['transmission'] == 'Automatic'].shape[0]

print(count_automatic)  # number of Automatic cars

2651

### 5. Write a program to calculate average mileage of Diesel cars.

In [13]:
round(df.groupby("fuelType")['mileage'].mean(),2) #IST METHOD

fuelType
Diesel    41661.14
Hybrid    24415.28
Other     17159.90
Petrol    19976.46
Name: mileage, dtype: float64

In [14]:
df[df['fuelType'] == 'Diesel']['mileage'].mean()  #2ND METHOD

np.float64(41661.13508064516)

## Intermediate Questions
### 6. Write a program to find the correlation between Price and Mileage.

In [15]:
# Select only the 'price' and 'mileage' columns from the dataframe
subset = df[['price', 'mileage']]

# Calculate the correlation between these two columns
correlation_matrix = subset.corr()

print(correlation_matrix)  # shows how price and mileage move together

            price   mileage
price    1.000000 -0.300598
mileage -0.300598  1.000000

Negative sign means: as one goes up, the other tends to go down

### 7. Write a program to list top 10 most expensive cars.

In [16]:
df.nlargest(10, 'price') #this returns top 10 most expensive cars

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
6711,Supra,2019,59995,Automatic,9909,Other,150,34.5,3.0
6670,Land Cruiser,2019,54991,Semi-Auto,1000,Diesel,145,30.1,2.8
6695,Land Cruiser,2020,54550,Automatic,4000,Diesel,150,30.1,2.8
6688,Land Cruiser,2020,52990,Automatic,1244,Diesel,145,30.1,2.8
6672,Land Cruiser,2020,52291,Semi-Auto,3104,Diesel,145,30.1,2.8
6703,Supra,2019,51995,Semi-Auto,250,Petrol,145,34.5,3.0
6704,Supra,2019,51995,Semi-Auto,1902,Petrol,145,34.5,3.0
6707,Supra,2019,51995,Semi-Auto,4153,Petrol,145,34.5,3.0
6661,Land Cruiser,2020,50995,Semi-Auto,3390,Diesel,145,30.1,2.8
6667,Land Cruiser,2019,50995,Semi-Auto,6254,Diesel,145,30.1,2.8

### 8. Write a program to compare average price by fuel type.

In [17]:
df.groupby('fuelType')['price'].mean()

fuelType
Diesel    15740.163306
Hybrid    17187.811765
Other     14121.161905
Petrol     9754.594628
Name: price, dtype: float64

### 9. Write a program to find cars with mileage greater than the dataset's average mileage

In [18]:
avg = df['mileage'].mean()
df[df['mileage'] > avg]

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,GT86,2016,16000,Manual,24089,Petrol,265,36.2,2.0
2,GT86,2015,13998,Manual,27469,Petrol,265,36.2,2.0
4,GT86,2017,17498,Manual,36284,Petrol,145,36.2,2.0
5,GT86,2017,15998,Manual,26919,Petrol,260,36.2,2.0
9,GT86,2016,13990,Manual,37999,Petrol,265,36.2,2.0
...,...,...,...,...,...,...,...,...,...
6733,IQ,2011,5500,Automatic,30000,Petrol,20,58.9,1.0
6734,Urban Cruiser,2011,4985,Manual,36154,Petrol,125,50.4,1.3
6735,Urban Cruiser,2012,4995,Manual,46000,Diesel,125,57.6,1.4
6736,Urban Cruiser,2011,3995,Manual,60700,Petrol,125,50.4,1.3
6737,Urban Cruiser,2011,4495,Manual,45128,Petrol,125,50.4,1.3

In [19]:
df.rename(columns={"mileage": "km_driven"}, inplace=True)
df

,model,year,price,transmission,km_driven,fuelType,tax,mpg,engineSize
0,GT86,2016,16000,Manual,24089,Petrol,265,36.2,2.0
1,GT86,2017,15995,Manual,18615,Petrol,145,36.2,2.0
2,GT86,2015,13998,Manual,27469,Petrol,265,36.2,2.0
3,GT86,2017,18998,Manual,14736,Petrol,150,36.2,2.0
4,GT86,2017,17498,Manual,36284,Petrol,145,36.2,2.0
...,...,...,...,...,...,...,...,...,...
6733,IQ,2011,5500,Automatic,30000,Petrol,20,58.9,1.0
6734,Urban Cruiser,2011,4985,Manual,36154,Petrol,125,50.4,1.3
6735,Urban Cruiser,2012,4995,Manual,46000,Diesel,125,57.6,1.4
6736,Urban Cruiser,2011,3995,Manual,60700,Petrol,125,50.4,1.3
6737,Urban Cruiser,2011,4495,Manual,45128,Petrol,125,50.4,1.3

### 2. Write a program to calculate the average price of cars older than 10 years.
Assume current year = 2025.

In [20]:
df['age'] = 2025 - df['year']
df.head(3)

,model,year,price,transmission,km_driven,fuelType,tax,mpg,engineSize,age
0,GT86,2016,16000,Manual,24089,Petrol,265,36.2,2.0,9
1,GT86,2017,15995,Manual,18615,Petrol,145,36.2,2.0,8
2,GT86,2015,13998,Manual,27469,Petrol,265,36.2,2.0,10

In [21]:
df[df['age'] > 10]['price'].mean()

np.float64(7665.16318537859)

### 3. Write a program to find the average mileage for each transmission type.

In [22]:
df.groupby('transmission')['km_driven'].mean()

transmission
Automatic    23936.018106
Manual       22556.395729
Other        16733.000000
Semi-Auto    16967.830709
Name: km_driven, dtype: float64

### 4. Write a program to find the top 5 models with the highest resale value (price).

In [23]:

df.groupby('model')['price'].mean().sort_values(ascending=False).head(5)

model
Supra           50741.000000
Land Cruiser    36487.156863
PROACE VERSO    28680.200000
Camry           26910.090909
Hilux           21581.176471
Name: price, dtype: float64

### 6. Write a program to calculate the percentage of diesel cars in the dataset.

In [24]:
percent = (df[df['fuelType']=='diesel'].shape[0] / df.shape[0]) * 100
percent

0.0

In [25]:
(df[df['fuelType']=='Diesel'].shape[0]/df.shape[0])*100

7.404090162710853

### 7. Write a program to find the relation between engine size and price.

In [26]:
df[['engineSize','price']].corr()

            engineSize     price
engineSize    1.000000  0.728791
price         0.728791  1.000000

### 10. Write a program to find cars that have price above the 75th percentile.

In [27]:
df['price'].quantile(0.75)

np.float64(14995.0)

In [28]:
p75 = df['price'].quantile(0.75)
df[df['price'] > p75]

,model,year,price,transmission,km_driven,fuelType,tax,mpg,engineSize,age
0,GT86,2016,16000,Manual,24089,Petrol,265,36.2,2.0,9
1,GT86,2017,15995,Manual,18615,Petrol,145,36.2,2.0,8
3,GT86,2017,18998,Manual,14736,Petrol,150,36.2,2.0,8
4,GT86,2017,17498,Manual,36284,Petrol,145,36.2,2.0,8
5,GT86,2017,15998,Manual,26919,Petrol,260,36.2,2.0,8
...,...,...,...,...,...,...,...,...,...,...
6718,Camry,2019,26491,Automatic,4416,Hybrid,135,52.3,2.5,6
6719,Camry,2019,27550,Automatic,4189,Hybrid,135,52.3,2.5,6
6720,Camry,2019,25490,Automatic,6340,Hybrid,135,52.3,2.5,6
6721,Camry,2019,26990,Automatic,3000,Hybrid,135,52.3,2.5,6
6722,Camry,2019,25990,Automatic,10732,Hybrid,135,52.3,2.5,6

### Write a program to count how many cars have mileage above the 90th percentile.

In [29]:
p90 = df['km_driven'].quantile(0.90)
df[df['km_driven'] > p90].shape[0]

670

### Write a program to list the top 3 years with the highest average price.

In [30]:
df.groupby('year')['price'].mean().sort_values(ascending=False).head(3)

year
2020    23033.236220
1998    19990.000000
2019    16814.223715
Name: price, dtype: float64

### Write a program to find how many cars have both low mileage (below median) and high price (above median).

In [31]:
mileage_median = df['km_driven'].median()
price_median = df['price'].median()

df[(df['km_driven'] < mileage_median) & (df['price'] > price_median)].shape[0]

1927

### Write a program to calculate the average price difference between Automatic and Manual cars

In [33]:
auto = df[df['transmission']=='Automatic']['price'].mean()
manual = df[df['transmission']=='Manual']['price'].mean()
auto - manual

np.float64(7047.751467368815)

###  Write a program to find which model has the highest average mileage.

In [37]:
df.groupby('model')['km_driven'].mean().sort_values(ascending=False).head(1)

model
Verso-S    56045.666667
Name: km_driven, dtype: float64

### Write a program to find cars whose mileage is above the 25th percentile but below the 75th percentile.

In [52]:
q1 = df['km_driven'].quantile(0.25)
q3 = df['km_driven'].quantile(0.75)
df[(df['km_driven'] > q1) & (df['km_driven'] < q3)]

,model,year,price,transmission,km_driven,fuelType,tax,mpg,engineSize,age
0,GT86,2016,16000,Manual,24089,Petrol,265,36.2,2.0,9
1,GT86,2017,15995,Manual,18615,Petrol,145,36.2,2.0,8
2,GT86,2015,13998,Manual,27469,Petrol,265,36.2,2.0,10
3,GT86,2017,18998,Manual,14736,Petrol,150,36.2,2.0,8
5,GT86,2017,15998,Manual,26919,Petrol,260,36.2,2.0,8
...,...,...,...,...,...,...,...,...,...,...
6715,Camry,2020,26490,Automatic,10000,Hybrid,135,52.3,2.5,5
6722,Camry,2019,25990,Automatic,10732,Hybrid,135,52.3,2.5,6
6726,IQ,2009,3995,Automatic,27292,Petrol,20,60.1,1.0,16
6731,IQ,2011,5995,Automatic,29000,Petrol,20,58.9,1.0,14
6733,IQ,2011,5500,Automatic,30000,Petrol,20,58.9,1.0,14